#app {
  text-align: center;
  align-items: center;
  width: 85vw;
  height: 90vh;
  margin: 0 auto;
  margin-top:20px;
}

#search Form{
  width: 80%;
  max-width:450px;
  margin: 20px auto 0;
}

button {
  margin: 10px;
}

#results{
  max-width:900px;
  margin: 20px auto 0;
}

#results h2 {
  text-align: left;
  font-size: 22px;
}

ul.pagination {
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
}

ul.pagination li {
  padding: 5px 8px;
  margin-top: 10px;
}

.active {
  background-color:#BEE5EB;
  color: white;
}

/* condense pagination nav width on smaller/mobile screens */
@media screen and (max-width: 400px) {
  ul.pagination {
    max-width: 280px;
  }
}